/*responsive untuk device Tablet*/
@media all and (max-width: 1000px){
    .container{
        width: auto;
    }
    .message-section{
        padding: auto;
        margin: auto ;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
    }
    
    .message-wrapper{
        margin: 0 auto;
    }
    .message-section h1{
        font-size: 30px;
    }
    .heading h2{
        font-size: 25px;
    }
    .main{
        width: 50%;
        margin-bottom: 40px;
    }

    .konten{
        width:fit-content;
        margin-left: 20px;
    }

}

/*responsive untuk device Handphone*/
@media all and (max-width: 670px){
    .container{
        width: auto;
    }
    .header-kiri li{
        font-size: 13px;
    }
    .header-kanan{
        display: none;
    }
    .message-section h1{
        font-size: 24px;
        line-height: 35px;
    }
    .message-section p{
        font-size: 12px;
        line-height: 20px;
    }
    .main{
        width: 100%;
    }
    .heading h2{
        text-align: left;
        margin-bottom: 15px;
    }
    .konten{
        width:fit-content;
    }
    .contents-item h3{
        font-size: 25px;
    }
    .contents-item p{
        font-size: 20px;
    }
    .barang-1 h3{
        padding-top: 20px;
    }
    .footer{
        padding: 0 auto;
        position: absolute;
        height: auto;
    }
    .footer-logo{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-list li{
        float:right;
        padding: 5px;
        font-size: 12px;
    }
}
